//@import "./styles/utills.scss";

.SassComponent {
  display: flex;
  .box {
    background: red;
    cursor: pointer;
    transition: all 0.3x ease-in;

    //1
    &.red {
      background: $red;
      @include square(1);
    }
    //2
    &.orange {
      background: $orange;
      @include square(2);
    }
    //3
    &.yellow {
      background: $yellow;
      @include square(3);
    }
    //4
    &.green {
      background: $green;
      @include square(4);
    }
    //5
    &.blue {
      background: $blue;
      @include square(5);
    }
    //6
    &.indigo {
      background: $indigo;
      @include square(6);
    }
    //7
    &.violet {
      background: $violet;
      @include square(7);
    }
    &:hover {
      background: black;
    }
  }
}
